@use "@/styles/variables" as *;
@use "@/styles/typography";

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include typography.caption-l-sf;
}

.left {
  display: inline-flex;
  align-items: baseline;
  gap: 8px;
  min-width: 0; /* чтобы текст красиво усекался */
}

.right {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tonBalanceIcon {
  width: 16px;
  height: 16px;

  svg {
    path {
      fill: $typography-secondary;
    }
  }
}
