@use "@/styles/variables" as *;
@use "@/styles/typography";

.overlay {
  position: fixed;
  z-index: 100;
  inset: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  backdrop-filter: blur(4px);

  transition: backdrop-filter 0.3s ease; // <- плавный fade

  &.hidden {
    backdrop-filter: blur(0px);
  }
}

.sheet {
  position: relative;
  width: 100%;
  max-width: 600px;
  min-height: 120px;
  background: $bg-modal;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  box-shadow: 0 -2px 32px rgba(24, 86, 160, 0.05);
  padding: 16px;
  animation: slideup 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
  will-change: transform;
  transition: transform 0.2s;
  touch-action: none;

  &.closing {
    animation: slidedown 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
}

@keyframes slideup {
  from {
    transform: translateY(100%);
  }
  to {
    transform: none;
  }
}

@keyframes slidedown {
  from {
    transform: none;
  }
  to {
    transform: translateY(100%);
  }
}

.dragHandle {
  position: absolute;
  width: 36px;
  height: 4px;
  background: $stroke-20;
  border-radius: 4px;
  left: 50%;
  transform: translate(-50%, -50%);
  touch-action: pan-y;
}

.iconsRow {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 12px;
}

.iconRow {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}
