@use "@/styles/variables" as *;
@use "@/styles/typography";

.detailGiftSheet {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailGiftSheetActions {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.detailGiftSheetActions > * {
  flex: 1;
  min-width: 0;
}

.actionIcon {
  display: flex;
  padding: 4px;
  align-items: center;

  background: $colors-accent;
  border-radius: 999px;
}

.availableBalanceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include typography.caption-l-sf;
  margin-bottom: 8px;
  .availableBalanceValue {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}

.priceRow {
  display: flex;
  align-items: center;
  gap: 8px;
  @include typography.caption-l-sf;
}
.actionButtonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  button {
    width: 100%;
  }
}

.bottomSheetTitle {
  @include typography.title-l-sf;
  color: $typography-primary;
}
