@use "@/styles/variables" as *;
@use "@/styles/typography";

.withdrawModalWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .withdrawInputWrapper {
    display: flex;
    justify-content: center;
  }
  .withdrawWalletTextWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 8px;
    .withdrawWalletText {
      color: $typography-secondary;
      @include typography.caption-m-sf;
    }
    .withdrawWalletValue {
      display: flex;
      flex-direction: row;
      gap: 4px;
      color: $typography-primary;
      @include typography.caption-m-sf;
      align-items: center;
      justify-content: center;
    }
  }
  .withdrawAllSumButtonWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .errorMessage {
      @include typography.caption-l-sf;
      color: $colors-red;
    }
  }
  .withdrawAllSumButtonWrapper {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .availableWithdrawValueWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      color: $typography-primary;
      @include typography.body-l-sf;
    }
    div {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;
      .availableWithdrawValue {
        @include typography.caption-l-sf;
      }
    }
  }
  .actionButtonWrapper {
    display: flex;
    width: 100%;
    button {
      flex: 1;
    }
  }
}

.error {
  color: $colors-red !important;
}
