@use "@/styles/variables";
@use "@/styles/typography";

.root {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    @include typography.title-l-sf;
  }

  .filterWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .selectWrapper {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  }
}
