@use "@/styles/variables" as *;
@use "@/styles/typography";

.wrapper {
  display: flex;
  align-items: center;
  padding: 8px 0;
  justify-content: center;
}

.inputBlock {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  background: none;
  border: none;
  outline: none;
  @include typography.amount-main-sf;

  width: 50%;

  text-align: right;
  padding: 0 5px 0 0;
  caret-color: $typography-white;
  color: $typography-primary;
}

.unit {
  width: 50%;
  color: $typography-secondary;
  @include typography.amount-sub-sf;
}
