@use "@/styles/variables" as *;
@use "@/styles/typography";

.addToCartBottomSheetWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .titleAndPriceWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .imageAndTitleWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      .imageWrapper {
        width: 48px;
        height: 48px;
        img {
          width: 48px;
          height: 48px;
        }
      }
      .titleAdnIdWrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .titleText {
          color: $typography-primary;
          @include typography.title-s-sf;
        }
        .idText {
          color: $typography-secondary;
          @include typography.caption-s-sf;
        }
      }
    }
    .priceText {
      color: $typography-primary;
      @include typography.title-s-sf;
    }
    .priceValue {
      color: $typography-secondary;
      @include typography.title-s-sf;
    }
  }

  .availableBalanceWrapper {
    display: flex;
    justify-content: space-between;

    .availableBalanceText {
      @include typography.body-l-sf;
      color: $typography-primary;
    }

    .availableBalanceValue {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        color: $typography-primary;
        @include typography.title-s-sf;
      }
    }
  }
  .actionButtonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    button {
      flex: 1 1 0%;
    }
  }
}
