@use "@/styles/variables" as *;
@use "@/styles/typography";

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  img {
    border-radius: 24px;
  }
}

.availableBalanceValue {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tableDataWrapper {
  margin-bottom: 24px;
}

.availableBalanceWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include typography.caption-l-sf;
  margin-bottom: 24px;
}

.actionButtonsWrapper {
  display: flex;
  gap: 8px;
  flex-direction: column;
  .notInCartButtonsWrapper {
    display: flex;
    button {
      flex: 1;
    }
    .notInCartText {
      color: $colors-accent;
      @include typography.caption-l-sf;
    }
  }
  .cartButtonsWrapper {
    display: flex;
    gap: 8px;
    .mainCartButton {
      flex: 1;
    }

    .inCartText {
      color: $colors-red;
      @include typography.caption-l-sf;
    }
  }

  .buyButtonWrapper {
    display: flex;
    button {
      flex: 1;
    }
  }
}
