@use "@/styles/variables" as *;
@use "@/styles/typography";

.tabbar {
  display: flex;
  width: 100%;
  padding: 4px 16px 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px 16px 0px 0px;
  background-color: $bg-static;

  a {
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    color: $typography-secondary;
    transition: color 0.2s ease;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include typography.button-s-sf;

    svg {
      width: 24px;
      height: 24px;
      pointer-events: none;
    }

    &.active {
      color: $colors-accent;
    }
  }
}

.avatar {
  &.active {
    border: 1px solid $colors-accent;
  }
}
