@use "@/styles/variables" as *;
@use "@/styles/typography";

.root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.tabbar {
  display: flex;
  width: 402px;
  padding: 4px 16px 25px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px 16px 0px 0px;

  a {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    color: var(--tg-theme-text-secondary, #8f98a1);
    text-decoration: none;
    font-size: 12px;
    padding: 4px 0;
    transition: color 0.2s ease;

    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 14.4px */

    svg {
      pointer-events: none;
    }

    &.active {
      color: $colors-accent;
    }
  }
}
