@use "@/styles/variables" as *;
@use "@/styles/typography";

.avatar {
  display: flex;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: $bg-glass;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
