/* === Colors === */
$colors-accent: var(--colors-accent);
$colors-green: var(--colors-green);
$colors-red: var(--colors-red);
$colors-orange: var(--colors-orange);

/* === Backgrounds === */
$bg-main: var(--bg-main);
$bg-modal: var(--bg-modal);
$bg-surface: var(--bg-surface);
$bg-static: var(--bg-static);
$bg-dynamic: var(--bg-dynamic);
$bg-base-component: var(--bg-base-component);
$bg-state: var(--bg-state);
$bg-glass: var(--bg-glass);

/* === Typography === */
$typography-primary: var(--typography-primary);
$typography-secondary: var(--typography-secondary);
$typography-tertriary: var(--typography-tertriary);
$typography-white: var(--typography-white);

/* === Stroke / Separator === */
$stroke-20: var(--stroke-20);
$stroke-10: var(--stroke-10);
