@use "@/styles/variables" as *;
@use "@/styles/typography";

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 10px;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 8px;
}

.divider {
  border-bottom: 1px solid $stroke-10;
}

.actionButtonsWrapper {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-top: 24px;
}

