@use "@/styles/variables" as *;
@use "@/styles/typography";

.actionButtonsWrapper {
  display: flex;
  gap: 8px;
  flex-direction: column;
  .notInCartButtonsWrapper {
    display: flex;
    button {
      flex: 1;
    }
    .notInCartText {
      color: $colors-accent;
      @include typography.caption-l-sf;
    }
  }
  .cartButtonsWrapper {
    display: flex;
    gap: 8px;
    .secondaryCartButton {
      flex: 1;
    }

    .inCartText {
      color: $colors-red;
      @include typography.caption-l-sf;
    }
  }
}

.mainCartButton {
  flex: 1;
}
