@use "@/styles/variables";
@use "@/styles/typography";

.android {
  font-size: 40px;
  @include typography.amount-main-nn;
}

.ios {
  @include typography.amount-main-sf;
}

.filterWrapper {
  margin-bottom: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  gap: 8px;
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;
}
