@use "@/styles/variables" as *;
@use "@/styles/typography";

.preview {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: 12px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  max-width: 80%;
}
