@use "@/styles/variables" as *;
@use "@/styles/typography";

.content {
  display: flex;
  flex-direction: column;
  background: $bg-static;
  border-radius: 12px;
  padding: 16px;
  gap: 16px;
  justify-content: center;
  align-items: center;

  .label {
    text-align: center;
    color: $typography-secondary;
    @include typography.title-s-sf;
    padding: 16px 0;
  }
}

.loading {
  @include typography.body-m-sf;
  color: $typography-secondary;
  text-align: center;
  padding: 40px 0;
}

.skeleton {
  width: 100%;
  height: 64px;
  border-radius: 12px;
}

.noBorderBottom {
  //FIXME
  border-bottom: none !important;
}
