@use "@/styles/variables" as *;
@use "@/styles/typography";

.filterWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;

  .selectWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    div {
      @include typography.caption-s-sf;
    }
  }
}

.shareButton {
  background-color: $bg-glass;
  border-radius: 32px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  img {
    border-radius: 24px;
  }
}

.priceRow {
  display: flex;
  align-items: center;
  gap: 8px;
}
