@use "@/styles/variables" as *;
@use "@/styles/typography";

.tabs {
  position: relative;
  display: flex;
  padding: 2px;
  align-items: center;
  gap: 2px;
  align-self: stretch;
  border-radius: 999px;
  background: $bg-static;
  margin-bottom: 8px;

  @include typography.button-m-rt;
}

.tab {
  position: relative;
  display: flex;
  flex: 1 0 0;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  color: $typography-secondary;

  text-decoration: none;
  transition: color 0.2s ease;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: calc(100% - 4px);
  border-radius: 999px;
  background: $bg-state;
  transition: transform 0.3s ease, width 0.3s ease;
  z-index: 0;
}

.active {
  color: $typography-primary;
}
