@use "@/styles/variables" as *;
@use "@/styles/typography";

.detailGiftSheet {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .detailGiftSheetActions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    .flexItem {
      flex: 1 1 0%;
      min-width: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: $colors-accent;
      @include typography.button-s-sf;
    }
  }

  .availableBalanceWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include typography.caption-l-sf;
    margin-bottom: 8px;
    .availableBalanceValue {
      display: flex;
      gap: 4px;
      align-items: center;
    }
  }

  .priceRow {
    display: flex;
    align-items: center;
    gap: 8px;
    @include typography.caption-l-sf;
  }
  .actionButtonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    button {
      width: 100%;
    }
  }
}

.bottomSheetTitle {
  @include typography.title-l-sf;
  color: $typography-primary;
}
