@use "@/styles/variables" as *;
@use "@/styles/typography";

.filterWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;

  .selectWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    .flexItem {
      flex: 1 1 0%;
      min-width: 0;
      @include typography.caption-s-sf;
    }
  }
}

.bottomSheetTitle {
  @include typography.title-l-sf;
  color: $typography-primary;
}
