.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
  gap: 8px;
  // width: 100%;
  // align-items: stretch;
  justify-content: flex-start;
  justify-items: stretch;
}
