@use "@/styles/variables" as *;
@use "@/styles/typography";

.checkboxLabelWrapper {
  display: inline-flex;
  align-items: center;
  user-select: none;

  input[type="checkbox"] {
    display: none;
  }

  .checkboxCustom {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;

    background: transparent;
    border: 2px solid $bg-modal;
    transition: border-color 0.2s, background 0.2s;

    &::after {
      content: "";

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 25px;
      height: 25px;
      background: url("@/static/icons/icn_m_check_small.svg") center/contain
        no-repeat;
      display: none;
    }
  }

  input[type="checkbox"]:checked + .checkboxCustom {
    background: $colors-accent;
    border: none;

    &::after {
      display: block;
    }
  }

  .checkboxCustom.indeterminate {
    background: $colors-accent;
    border: none;

    &::after {
      display: block;
      background: url("@/static/icons/icn_minus.svg") center/contain no-repeat;
      width: 20px;
      height: 20px;
    }
  }
}
