@use "@/styles/variables" as *;
@use "@/styles/typography";

.content {
  display: flex;
  flex-direction: column;
  background: $bg-static;
  border-radius: 24px;
  padding: 16px;
  gap: 16px;
}

.loading {
  @include typography.body-m-sf;
  color: $typography-secondary;
  text-align: center;
  padding: 40px 0;
}

.noBorderBottom {
  //FIXME
  border-bottom: none !important;
}
