@use "@/styles/variables" as *;
@use "@/styles/typography";

.table {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid $stroke-10;
}

.row {
  display: grid;
  grid-template-columns: 35% 65%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  @include typography.caption-m-sf;
  &:last-child {
    border-bottom: none;
  }
}

.label {
  color: $typography-secondary;
  align-self: center;
  background: $bg-surface;
  padding: 12px 8px 12px 12px;
  display: flex;
  align-items: center;
  height: 100%;
}

.value {
  align-self: center;
  padding: 12px 8px 12px 12px;
  color: $typography-primary;
}

.iconButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0;
  cursor: pointer;
  svg {
    width: 14px;
    height: 14px;
  }
}

.row:not(:last-child) {
  border-bottom: 1px solid $stroke-20;
}

.tooltipWrapper {
  display: flex;
  justify-content: space-between;
}

.tooltipWrapper:not(:last-child) {
  margin-bottom: 6px;
}

.tooltipLabel {
  @include typography.caption-s-sf;
  color: $typography-secondary;
}

.tooltipValue {
  @include typography.caption-s-sf;
}
